<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 不要在库模块中设置应用级属性 -->
    <application>
        <!-- 不要在库模块中声明启动器活动 -->
    </application>

</manifest> 