<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 电池信息获取权限 -->
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    
    <application>
        <!-- 使用BatteryReceiver接收电池广播 -->
        <receiver android:name=".core.BatteryReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
    </application>
</manifest> 